<!-- Simple Navbar -->
<nav class="navbar navbar-expand-lg bg-primary" style="height: 60px;background-color: #13296d;">
  <div class="container-fluid">
    <h4 class="navbar-brand text-white" href="#">List of Universities in United States</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link text-white" [ngClass]="{'active': page == 'home'}" aria-current="page" (click)="navigate('home')">Home</a>
        <a class="nav-link text-white" [ngClass]="{'active': page == 'about-me'}" aria-current="page" (click)="navigate('about-me')">About Me</a>
      </div>
    </div>
  </div>
</nav>
<!-- Datatable List of Universities-->
<app-home *ngIf="page==='home'"></app-home>
<!-- About Me profile -->
<app-about-me *ngIf="page==='about-me'"></app-about-me>