<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-9">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">About Me</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Nur Atikah Mohd Faudzi's Profile</h6>
                  <p class="card-text">All code for this assessment can get from Github: <a href="https://github.com/atikahf/assignment">Assessment</a></p>
                </div>
              </div>
        </div>
    </div>
</div>