<div class="container-fluid" style="padding-top: 36px;">
    <div class="row d-flex justify-content-start">
          <img class="image-container" src="https://media.licdn.com/dms/image/D5603AQHa_Tj8HClJRg/profile-displayphoto-shrink_800_800/0/1669996817645?e=1680134400&v=beta&t=ew1uaCUN6L9bLuQ-WCJ-IqtMOwlANvlzK9r3xnbUTqk" alt="My Profile Pic">
            <div class="card" style="width:60%;margin-left: 20px;">
                <div class="card-body">
                  <h5 class="card-title">About Me</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Nur Atikah Mohd Faudzi, 26</h6>
                  <small class="card-text">Software Developer</small>
                  <p class="card-text">All code for this assessment can get from Github: <a href="https://github.com/atikahf/assignment">Assessment</a></p>
                </div>
              </div>
    </div>
</div>